@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');

*{
    box-sizing: border-box;
    
}

:root{
    --orange-color: #ff7522;
    --white-color: #ffffff;
    --black-color: #000000;
    --grey-s-color: #64666c;
    --yellow-color: #fff45f;
    --grey-p-color: #2b2e35;
}

a{
    text-decoration: none!important;
}

.btn-menu{
    border: none;
    background: none;
    color: var(--orange-color);
}

.btn-menu i{
    font-size: 1.5rem;
}

.menu-fondo{
    background: var(--white-color);
    padding: 1.5rem 0 1rem 0 !important;
    -webkit-box-shadow: 0px 6px 10px -6px #000000;
    box-shadow: 0px 6px 10px -6px #000000;
}

.menu-desplegable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-desktop{
    display: none !important;
}

.menu-desplegable a{
    text-decoration: none;
    color: var(--grey-p-color);
    margin: 0.5rem;
}

.slide-principal{
    background: url(../img/img-principal-desktop.png);
    background-size: cover;
    height: 25rem;
    background-repeat: no-repeat;
    background-position-x: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: -1000;
    padding-bottom: 1.5rem;
}

.btn-search{
    background: var(--white-color) !important;
    border: solid 1px var(--grey-s-color) !important;
    border-left: none !important;
    border-radius: 0 1rem 1rem 0 !important;
}

.title{
    color: var(--white-color);
    text-shadow: 2px 2px 5px #000000;
    font-size: 1.5rem !important;
}

.container-search{
    width: 90vw !important;
}

.btn-search i{
    color: var(--orange-color);
}

.input-search{
    border: solid 1px var(--grey-s-color) !important;
    border-radius: 1rem 0 0 1rem !important;
    border-right: none !important;
    font-weight: bold !important;
    font-size: 0.688rem !important;
    font-family: 'Open Sans', sans-serif;
    padding-left: 2rem !important;
    text-align: center;
}

.container-btn{
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.688rem;
    width: 90vw;
}

.container-btn button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    background: var(--orange-color);
    padding: 1rem 1.5rem;
    color: var(--white-color);
    border-radius: 1rem;
    width: 50%;
    font-weight: bold;
    -webkit-box-shadow: 6px 6px 10px -5px #000000;
    box-shadow: 6px 6px 10px -5px #000000;
}

.container-btn button img{
    /*width: 70%;*/
    margin-bottom: 0.5rem;
}

.container-btn button.left{
    margin-right: 0.5rem;
}

.container-btn button.right{
    margin-left: 0.5rem;
}

main{
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 25rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .calcular-envio{
    width: 100% !important;
    background: var(--yellow-color);
}

main .calcular-envio .logo{
    padding: 1.5rem 3rem;/*3rem*/
}

main .calcular-envio .body-card{
    padding: 0;
}

main .calcular-envio .body-card img{
    width: 100%;
}

main .calcular-envio .body-card .description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

main .calcular-envio .body-card .description h3{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--grey-p-color);
}

main .calcular-envio .body-card .description span{
    font-size: 0.688rem;
    text-align: center;
    margin: 1.5rem 0;
    color: var(--grey-p-color);
}

.bold{
    font-weight: bold;
}

main .calcular-envio .body-card .description button{
    background: var(--grey-p-color);
    width: 85%;
    padding: 5%;
    border-radius: 0.9rem;
    border: none;
}

main .calcular-envio .body-card .description button a{
    color: var(--white-color);
    font-weight: bold;
    font-size: 0.8rem;
}

main .container-services{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

main .container-services h3{
    color: var(--orange-color);
    font-size: 1.5rem !important;
    font-weight: bold;
    margin-top: 1.5rem;
}

main .container-services span{
    text-align: center;
    font-size: 0.625rem;
    color: var(--grey-p-color);
    margin-bottom: 1.5rem;
}

main .container-services .card.service{
    display: flex;
    /* height: 800px; */
    justify-content: flex-end;
    height: 24rem;
    background-repeat: no-repeat !important;
    background-size: cover;
    border: none;
}

main .container-services .card.service.left{
    background: url(../img/img-right.png);
    background-position-x: 40% !important;
}
main .container-services .card.service.right{
    background: url(../img/img-left.png);
}

main .container-services .card.service .title-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 117, 34, 0.8);
    padding: 1.5rem;
}

main .container-services .card.service .title-description h4{
    font-size: 1.125rem !important;
    font-weight: bold !important;
    color: var(--white-color);
    text-align:center;
}

main .container-services .card.service .title-description .description-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

main .container-services .card.service .title-description .description-button span{
    font-size: 0.625rem;
    color: var(--white-color);
    font-weight: lighter;
    text-align: center;
    margin: 0;
}

main .container-services .card.service .title-description .description-button button{
    border: none;
    background: none;
    margin-left: 0.5rem;
}

main .container-services .card.service .title-description .description-button button a{
    color: var(--white-color);
}


@media(min-width: 530px){
    .services .card.service{
        width: 50%;
        margin: 0.5rem auto;
    }
}

@media(min-width: 1024px){
    .menu-fondo{
        display: none !important;
    }

    .menu-desktop{
        display: flex !important;
        margin: 0;
        padding: 1rem 1.5rem 1rem 1rem;
        background: rgba(255,255,255,0.9);
    }

    .menu-desktop a{
        color: var(--black-color);
        margin: 0 1rem;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.125rem;
    }

    .slide-principal{
        height: 35rem;
    }

    .slide-principal .container-search{
        width: 60vw !important;
    }

    .slide-principal .container-search .input-search{
        font-size: 0.875rem!important;
    }

    .slide-principal .container-search .btn-search i{
        font-size: 1.5rem;
    }

    .slide-principal .container-search .input-search, .slide-principal .container-search .btn-search{
        background: rgba(255,255,255,0.9) !important;
    }

    .title{
       font-size: 2.813rem !important;
    }

    .container-btn{
        font-size: 0.875rem;
        width: 40vw;
    }
    
    main{
        top: 35rem;
    }

    main .calcular-envio{
        width: 95% !important;
    }

    main .calcular-envio .logo{
        display: inline-flex;
        float: left;
        width: 50%;
        margin-top: 3rem;
    }

    main .calcular-envio .body-card{
        display: inline;
    }

    main .calcular-envio .body-card img{
        width: 50%;
        float: right;
    }

    main .calcular-envio .body-card .description{
        padding: 0 3rem;
    }

    main .calcular-envio .body-card .description span, main .calcular-envio .body-card .description button a{
        font-size: 0.875rem;
    }

}